@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
    background-color: silver;
}

body {
    /*width: 1600px;*/
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: white;
}

ul {
    list-style-image: url('../img/yellow.jpg');
    margin-block-end: 3rem;
    
}

li{
    line-height: 0.5rem;
}

.header {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    background-color: black;
    justify-content: center;
}

.header_left {
    width: 700px;
    background-color: black;
    color: white;
    font-size: 3.6rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.header_right {
    width: 700px;
    background-color: black;
    justify-content: flex-end;
    display: flex;
    padding: 0 5% 0 0;
}

.header_menu {
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 25px;
}

.one_body {
    background-color: black;
    height: 700px;
    display: flex;
    justify-content: center;
}

.one_body_1 {
    width: 550px;
    padding: 99px 0 0 0;
    display: inline-block;
    margin: 30px;
}

.one_body_2 {
    width: 770px;

    display: inline-block;
}

.one_body_titel {
    font-size: 6.4rem;
    color: white;
    line-height: 7.2rem
}

.one_body_text {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: #b2b2b2;
    margin: 30px 0;
    line-height: 3.6rem;
}

.yellow_text {
    font-size: 6.4rem;
    color: #FFBB00;
}

.bot_pozistion {
    margin: 12rem;
}

.btn_one {

    background-color: #F6AD09;
    padding: 2rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    text-decoration: none;
}

.titel_one {
    /*width: 1400px;*/
    font-size: 6.4rem;
    margin: 80px 0 40px 90px;
    display: flex;
    justify-content: center;
}

.titel_one_righte {
    width: 750px;
}

.card {
    padding-bottom: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card_small {
    width: 460px;
    margin: 5px;
}

.card_titel {
    font-size: 3.2rem;
    margin-left: 80px;
}

.card_price {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: black;
    margin-left: 80px;
}

.mini_titel {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: #B2B2B2;
    text-transform: uppercase;
}

.img_position {
    margin: -90px 0;
}

.vidstan_div {
    margin-right: 40px;
}

.yellow_titel_text {
    color: #FFBB00;
    font-size: 2.4rem;
    border-bottom: 4px solid #ffbb00;
    width: 268px;
}

.one_body_two {
    background-color: black;
    height: 947px;
    display: flex;
    justify-content: center;
}

.two_card {
    display: flex;
    margin: 40px 0 50px 0;
}

.text_mini_titel {
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 500;
}

.text_mini {
    color: #b2b2b2;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
}

.logo_line {
    /*margin: 43px;*/
    display: flex;
    justify-content: center;
}

.logo_mix {
    border: 1px solid #B2B2B2;
    width: 349px;
    height: 135px;
    text-align: center;
    margin: 5px;
}

.img_position_logo {
    margin: 55px;
}

.line {
    height: 108px;
}

.img_plus_text {
    display: flex;
    justify-content: center;

}

.fon_black {
    background-color: black;
    width: 780px;

}

.fon_yellow {
    background-color: #FFBB00;
    font-size: 3.6rem;
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    line-height: 48px;
    padding: 300px 164px 0px 100px;
    width: 822px;
    box-sizing: border-box;
    color: #664400;
}

.autor {
    font-size: 2.4rem;
    color: #664400;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 32px;
    margin-top: 5px;
}

.sk_up {
    margin: -280px 0px 0px -47px;
}

.sk_down {
    margin: 170px 0px 0px 511px;
}

.black_card {
    background-color: #161616;
    min-height: 737px;
}

.black_card_header {
    min-height: 218px;
    display: flex;
    justify-content: center;
}

.black_card_header_left {
    color: #FFFFFF;
    font-size: 6.4rem;
    padding: 73px 110px 0 0;
}

.black_card_header_righte {
    width: 750px;
}

.card_union {
    display: flex;
    justify-content: center;
}

.card_union_one {
    width: 456px;
    height: 381px;
    background-color: black;
    margin: 15px;
}

.card_union_titel {
    font-size: 3.6rem;
    color: #9c9c9c;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 48px;
    padding: 36px 0px 0px 40px;
}

.card_union_titel_small{
    margin-left: 355px;
    font-size: 1.2rem;
    color: #9C9C9C;
}

.card_union_price {
    font-size: 3.6rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 48px;
    padding-left: 130px;
}

.card_union_two {
    width: 456px;
    height: 465px;
    background-color: black;
    margin: 15px;
}

.card_union_one:hover{
    /*height: 420px;*/
    margin-top: -15px;
}

.card_union_one:hover > .card_union_titel{
    color: #F6AD09;
}

.card_union_two:hover{
    /*height: 511px;*/
    margin-top: -15px;
}

.card_union_two:hover > .card_union_titel{
    color: #F6AD09;
}

.card_union_text {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 43px;
}

.btn_two_gray{
    background: #2E2E2E;
    color: #CCCCCC;
    border-radius: 5px;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    text-decoration: none;
   
}

.div_btn_two_gray{
    margin: 25px 0px 0px 117px;
}

.footer{
    height: 400px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    background-color: black;
    justify-content: center;
}

.footer_one{
    font-size: 3.2rem;
    color: white;
    margin: 56px 100px 0 100px;
}

.footer_two{
    font-size: 2.4rem;
    color: white;
    margin: 56px 100px 0 100px;
}

.footer_three{
    font-size: 2.4rem;
    color: white;
    margin: 56px 100px 0 100px;
}

.footer_p{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    
}

.img_br{
    margin: 0 15px;
}

.footer_p_l{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}



.footer_p_l2{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 5px;
}

.footer_p_l2:hover{
    color: #F6AD09;
}

.footer_p_l3{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 5px;
}

.footer_p_l3:hover{
    color: #F6AD09;
}

.footer_p_l4{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 5px;
}

.footer_p_l4:hover{
    color: #F6AD09;
}

.footer_p_l5{
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 5px;
}

.footer_p_l5:hover{
    color: #F6AD09;
}

.footer_end{
    background-color: black;
    color: #B2B2B2;
    font-size: 1.8rem;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    padding: 30px 200px;
    /*margin-left: 200px;*/
}