.ttitel {
    width: 1440px;
    font-family: 'inika', sans-serif;
    font-weight: 700;
    
}

.h1 { /*перший заголовок*/
    padding-top: 72px;
    padding-bottom: 72px;    
    font-size: 40px;
    font-weight: 700;
    padding-left: 80px;
}

.h2 { /*другий заголовок*/
    padding:  72px 0 72px 444px;       
    font-size: 40px;
    font-weight: 700;    
}

.heder {
    /*margin: 0 auto;
    width: 900px;
    background-color: rgb(216, 191, 240);*/
    box-sizing: border-box;
    height: 110px;
    
    text-align: center;
    padding: 23px;
    
}

.titel1 {
    font-family: 'M plus 1', sans-serif;
    font-weight: 400;
    color: #3E45E8 ;
    font-size: 48px;

}

.titel2 {
    font-family: 'M plus 1', sans-serif;
    font-weight: 400;
    color: #E8C23E;
    font-size: 48px;

}

.banner { /*верхній банер*/
    padding-top: 15%;
    padding-left: 80px;
    background-image: url("../img/backgraund.png");
    height: 803px;
    background-size: cover;
    background-repeat: no-repeat; 
    box-sizing: border-box;   
}

.content { /*напис банеру*/
    padding-top: 1%;
    box-sizing: border-box;
    color: white;
    width: 80%;
    font-size: 48px;  
    padding-left: 50px;  
    background-repeat: no-repeat; 
    height: 272px;   
    background-image: url("../img/flag.png");    
}

.block {
    padding-left: 70px;
}

.line {
    width: 575px;
    border-bottom: 5px solid #3E45E8;    
}

.card { /*картки*/
    vertical-align: top;
    display: inline-block;
    /*border: 1px solid black;*/
    width: 30%;
    padding-bottom: 25px;
    border-radius: 8%;
    box-shadow: 2px 3px 20px rgb(27, 27, 27);
    overflow: hidden;
    }

    .card_margin {
        margin: 0 40px;
    }

.card_image1 {
    
    width: 100%;
}

.card_title1 {
    font-size: 24px;
    color: #1E8DF2;
    padding-left: 10px;
}

.card_sub_title1 {
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    color: #E8C23E;
}

.centr_block { /*центровка блока*/
    width: 812px;
    margin: 0 auto;
}

.rectangle_blue { /*підтримати*/
    padding: 14px;
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    box-sizing: border-box;
    margin: 25px auto;
    text-align: center;
    
}

.titel_white {
    font-size: 64px;
    color: #FFFFFF;
}

.rectangle_grey { /*блок контактів*/
    height: 320px;
    background-color: #2F4A4B;
    box-sizing: border-box;
    text-align: center;
}

.contacts {
    font-family: 'marcellus SC', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #A89D9D;
    padding: 15px;
}

.links {
    padding: 40px 15px;
    display: inline-block;
}