.width_body {
    width: 1300px;
}

.title_box1 {

    font-size: 30px;

}

.title_box2 {
    padding-left: 180px;
    font-size: 30px;
}

.d_box {
    display: inline-block;
    margin: 30px;
    text-align: center;
    box-sizing: border-box;
}

.d_box1 {
    width: 505px;
    height: 505px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: 5px solid #000000;
    border-radius: 100%;
    overflow: hidden;
}

.d_box2 {
    width: 512px;
    margin-left: 150px;
    /*margin-right: auto;*/
    margin: 30px;
    text-align: center;
    box-sizing: border-box;
}

.yellow_p {
    width: 512px;
    height: 256px;
    background-color: yellow;
    box-sizing: border-box;
}

.blue_p {
    width: 512px;
    height: 256px;
    background-color: blue;
    box-sizing: border-box;
}

.black_p {
    width: 512px;
    height: 512px;
    background-color: black;
    box-sizing: border-box;
}

.zobrahzennya {
    padding: 145px 60px;
}

.title_box {
    text-align: center;
}

.zobrahzennya2 {
    text-align: left;
    padding: 60px 0;
}

.zobrahzennya2_1 {
    text-align: center;
    padding: 60px;
}

.zobrahzennya3 {
    padding: 120px 170px;
}

.zobrahzennya3_1 {
    text-align: center;
    padding: 45px 90px;
}

.zobrahzennya4 {
    padding: 155px 110px;
}

.zobrahzennya4_1 {
    padding: 55px 81px;
}

.Flag5 {
    text-align: left;
    padding: 15px;
}

.Flag6 {
    text-align: left;
    padding: 55px 97px;
}