@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

.fon_osnova {
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    height: 1000px;
    padding-top: 100px;
}

.rama {
    width: 1000px;
    height: 667px;
    border: white 2px solid;
    display: flex;
    margin: 0 auto;

}

.left {
    width: 561px;
    background-color: white;
    padding-top: 15px;
}

.logo {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 12px 0 0px 32px;
    width: 105px;
    text-decoration: none;
}

.btn_home {
    display: none;
}

.btn_Contact {
    display: none;
}

.brack {
    margin: 0px 0 68px 0px;
}

.right {
    width: 439px;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    padding-top: 15px;
}

.right_menu {
    display: flex;
    justify-content: right;
    font-weight: 700;
}

.menu_style {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 12px 12px 68px 35px;
    color: white;
    text-decoration: none;
}

.titel_1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.form_position {
    margin: 0 0 90px 100px;
    border-color: #CCCCCC;
    border-radius: 5px;
}

.form_titel {
    font-size: 1.6rem;
    font-weight: 400;

}

.form_text {
    color: #CCCCCC;
    margin: 0px 0px 15px 0px;

}

.right_text {
    font-size: 4.8rem;
    color: #ffffff;
    margin: 140px 0px 0px 62px;
    font-weight: 700;
}

.right_text_autor {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 0px 0px 75px;
}

.pass_signature1 {
    font-size: 1rem;
    color: #A8A8A8;
    margin-top: -22px;
}

.pass_signature2 {
    font-size: 1rem;
    color: #A8A8A8;
    margin-top: -2px;
}

.form_text_а {
    width: 318px;
}

.form_titel_a {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 15px;
}

.btn_1 {
    background-color: #284A5E;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 130px 10px 130px;
    margin: 0px 0px 0px 100px;
    text-align: center;
    text-decoration: none;
}

.right_end {
    margin: 25px auto;
    color: #C4C4C4;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;

}

.right_login {
    font-size: 1.6rem;
    color: #476D73;
}

@media screen and (max-width: 390px) {
    body {
        width: 390px;
        height: 844px;
    }

    .fon_osnova {
        background-color: white;
        background: white;
    }

    .rama {
        width: 390px;
        height: 844px;
        border: white 2px solid;
        display: flex;
        margin: 0 auto;

    }

    .left {
        width: 390px;
        background-color: white;
        padding-top: 15px;
    }

    .logo {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: uppercase;
        background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 12px 0 0px 0px;
        width: 125px;
        text-decoration: none;
    }

    .menu_small {
        display: flex;
        justify-content: center;
        font-weight: 700;
    }

    .btn_home {
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 12px 15px 68px 15px;
        color: #24445B;
        text-decoration: none;
    }

    .btn_Contact {
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 12px 15px 68px 15px;
        color: #24445B;
        text-decoration: none;
    }

    .brack {
        display: none;
    }

    .right {
        display: none;
    }

    .right_menu {
        display: none;

    }

    .menu_style {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 12px 12px 68px 35px;
        color: white;
        text-decoration: none;
    }

    .titel_1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .form_position {
        margin: 0 0 90px 30px;
        border-color: #CCCCCC;
        border-radius: 5px;
    }

    .form_titel {
        font-size: 1.6rem;
        font-weight: 400;

    }

    .form_text {
        color: #CCCCCC;
        margin: 0px 0px 15px 0px;

    }

    .right_text {
        display: none;
    }

    .right_text_autor {
        display: none;
    }

    .pass_signature1 {
        font-size: 1rem;
        color: #A8A8A8;
        margin-top: -22px;
    }

    .pass_signature2 {
        font-size: 1rem;
        color: #A8A8A8;
        margin-top: -2px;
    }

    .form_text_а {
        width: 318px;
    }

    .form_titel_a {
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 15px;
    }

    .btn_1 {
        background-color: #284A5E;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 10px 130px 10px 130px;
        margin: 0px 0px 0px 30px;
        text-align: center;
        text-decoration: none;
    }

    .right_end {
        margin: 25px auto;
        color: #C4C4C4;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;

    }

    .right_login {
        font-size: 1.6rem;
        color: #476D73;
    }




}