@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1&family=Marcellus+SC&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-size: 10px;
}

body{
    /*width: 1920px;*/
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.heder_top{ /*Розміщення хедеру*/
    position: sticky;
    top: 0;
    z-index: 100;
}

.header1 {
    height: 89px;
    width: 100%;
    background-color: #202846;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_logo {
    width: 178px;
    height: 70px;
    border: 1px  white ;
    display: inline-block;
    border-radius: 30px;
    margin:9.5px 138px ;
    background-image: url('../img/logo.png');
}

.header_menu { 
    font-size: 2.4rem;
    color: #FFFFFF;
    padding: 27px;
    display: inline-block;
    text-decoration: none;
}

.header_menu:hover{ /*Наведення на пункт меню*/
    color: #AEAEE2;
}

.vector {
    background-image: url('../img/Vector.png');
    width: 60px;
    height: 60px;
}

.titel1 { /*Перший заголовок*/
    height: 140px;
    background-color: #C6C6DC;
    font-size: 4.8rem;
    font-style: italic;
    color: #202846;
    padding: 30px 0 0 20%;
    box-sizing: border-box;
}

.background_1 {
    background-color: #749ab11c;
}

.card1 { /*Оформлення карток*/
    width: 70%;
    margin: 0 auto;
}

.build{
    width: 70%;
    margin: 0 auto 200px; 
}

.select {
    height: 56px;
    font-size: 2.8rem;
    text-align: center;
    margin: 50px 0 0 0;
    border: 1px solid black;
    padding: 7px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.card{
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 36px 0;
}

.card:hover{
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card__img{
    width: 35%;
    height: 80%;
    overflow: hidden;
}
.card__img img{
    height: 100%;
}

.card__content{
    width: 50%;
    height: 80%;
    overflow: hidden;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description{
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
}

.card-star, .card-btn /*,.card-btn_seting, .card-btn_avatar*/{
    position:absolute;
}

.card-star{
    right: 1rem;
    top: 1rem;
    fill: white;
}

.card-star:hover{ /*Наведення на зірку*/
    fill: yellow;
}

.card-btn{ /*Кнопка ДЕТАЛЬНІШЕ*/
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.arrow_position{ /*Кнопка на гору СТРІЛКА*/
    position: fixed;
    bottom: 5%;
    right: 35px;
    opacity: 0.3;
}

.arrow_opacity:hover{ /*Наведення на стрілку*/
    opacity: 0.5;
}

.info_client{ /*Картка клієнту*/
    height: 500px;
    width: 60%;
    background-color: #BDBDC6;
    margin: 40px auto ;
    display: flex;
}

.info_client_left {
    width: 35%;
    display: inline-block;
    text-align: center;
}

.info_client_right {
    width: 65%;
}

.card-btn_avatar{
    margin: 35px 0 0 0;
    padding: 1rem 2rem;
    background-color: #69749B;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.p_break{
    margin: 50px;
}

.card-btn_seting{
    padding: 1rem 2rem;
    background-color: #484A54;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px; 
}

.man_position{
    margin: 10% auto;
}

.info_client_text{
    width: 660px;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    border-bottom: 3px solid white;
    margin: 37px 0 0 10%;
}

.font_norm {
    font-weight: 400;
}

.bot_pozistion{
    margin: 3rem auto;
    text-align: center;
}

.exit-btn{
    padding: 1rem 4rem;
    margin: 0 auto;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.contacts_end { /*Контакти*/
    display: flex;
}

.contacts_text{
    display: inline-block;
    width: 30rem;
    font-size: 3.2rem;
    text-align: center;
    margin: 3.5rem auto;
}

.line_contacts {
    border-bottom: 3px solid black;
}

.map{ /*Розміщення мапи*/
    margin-right: 20rem;
}

.titel_end{
    font-size: 3.6rem;
    font-style: italic;
    height: 75px;
    background-color: #C6C6DC;
    color: #202846;
    padding: 15px 0 0 5%;
    box-sizing: border-box;
}